.item{
    position: relative;
    width:640px;
    height:100%;
    background-color: #fff;
    text-align: left;
}

.active{
  display: block;
}

.item img, .item span{
  position: absolute;
}

.item span{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.item0{
  background: url(../images/item0.jpg) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}



.item0 .test1{
  top: 10%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.item0 .test2{
  top: 10%;
  color: #f00;
  font-size: 30px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.item0 .test3{
  top: 20%;
  color: #f00;
  font-size: 30px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.item0 .test4{
  top: 30%;
  color: #f00;
  font-size: 30px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}







.item1 .test1{
  top: 10%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.item1 .test2{
  top: 20%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.item1 .test3{
  top: 30%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}


.item1 .test4{
  top: 40%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}


.item1 .test5{
  top: 50%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.8s; 
  animation-delay: 1.8s; 
}


.item2 .test1{
  top: 10%;
  left: 20%;
  width: 300px;
  height: auto;
  opacity: 0.6;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.item2 .test2{
  top: 19%;
  left: 39%;
  width: 117px;
  height: auto;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.item2 .test3{
  top: 17%;
  left: 30%;
  width: 100px;
  height: auto;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s; 
  -webkit-animation-delay: 0.3s; 
  animation-delay: 0.3s;
}

.starbg,.stars,.cstars{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.active .starbg{
  background: black url('../images/starbg.png') repeat 5% 0%;
  -webkit-animation: STAR-MOVE  200s linear infinite;
  -moz-animation: STAR-MOVE  200s linear infinite;
  -ms-animation: STAR-MOVE  200s linear infinite;
  animation: STAR-MOVE  200s linear infinite;
}
.active .stars{
  background:url('../images/stars.png')repeat 20% 0%;
  z-index: 1;
  -webkit-animation: STAR-MOVE  150s linear infinite;
  -moz-animation: STAR-MOVE  150s linear infinite;
  -ms-animation: STAR-MOVE  150s linear infinite;
  animation: STAR-MOVE  150s linear infinite;
}
.active .cstars{
  background:url('../images/cstars.png')repeat 35% 0%;
  z-index: 2;
  -webkit-animation: STAR-MOVE  100s linear infinite;
  -moz-animation: STAR-MOVE  100s linear infinite;
  -ms-animation: STAR-MOVE  100s linear infinite;
  animation: STAR-MOVE  100s linear infinite;
}


.tian,.yun,.cyun{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.active .tian{
  background: black url('../images/tian.jpg') repeat 5% 0%;
  -webkit-animation: STAR-MOVE  200s linear infinite;
  -moz-animation: STAR-MOVE  200s linear infinite;
  -ms-animation: STAR-MOVE  200s linear infinite;
  animation: STAR-MOVE  200s linear infinite;
}
.active .yun{
  background:url('../images/yun.png') repeat-x 20% 0%;
  z-index: 1;
  -webkit-animation: STAR-MOVE  150s linear infinite;
  animation: STAR-MOVE  150s linear infinite;
}
.active .cyun{
  background:url('../images/cyun.png') repeat-x 35% 0%;
  z-index: 2;
  -webkit-animation: STAR-MOVE  100s linear infinite;
  animation: STAR-MOVE  100s linear infinite;
}



@-webkit-keyframes STAR-MOVE {
  from {
    background-position:5% 0%
  }
  to { 
    background-position: 600% 0%
  }
}
 @keyframes STAR-MOVE {
  from {
    background-position: 5% 0%
  }
  to { 
    background-position: 600% 0%
  }
}





.item5 .test1{
  top: 10%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.item5 .test2{
  bottom: 10%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.item6 .test1{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 0%;
  margin-left: 0%;
  height: 10px;
  background: #f00;
}

.active.item6 .test1{
  margin-left: -40%;
  width: 80%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.item6 .test2 {
  top: 5%;
  left: 30%;
  width: 300px;
  height: auto;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}