<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{margin: 0; padding: 0}
        html,body{
            height: 100%;
        }
        .groupAttr,.groupLayers{
            position: fixed;
            right: 0px;
            width: 100px;
            height: 100%;
        }
        .groupAttr{
            right: 100px;
            width: 200px;
        }
    </style>
</head>
<body ng-app="" ng-controller="datasController" >

   


    
    <input type="button" value="test" ng-click="hello()" ng-model="datas">

    <div class="groupAttr">a</div>
    <div class="groupLayers" >
        <div ng-repeat="xa in datas track by $index" >
            {{ xa.name }}
           <div ng-repeat="ya in xa.children track by $index" >
               {{ya.name}}
           </div>
        </div>
    </div>


    <script>
    var count = 5;
        function datasController($scope){
            $scope.datas = [
             {
                visibility: true,
                name: "1",
                children:[
                    {visibility: true,
                        name: "11"
                    },
                    {
                        visibility: true,
                        name: "12"

                    },
                    {
                        visibility: true,
                        name: "13"
                    }
                ]
             },{
                visibility: true,
                name: "2",
                children: []
             }
            ];
            $scope.hello = function() {
                count++;
                 $scope.datas[0].children.push({
                    visibility: true,
                    name: "1" + count
                 });
            }
        }

         // function datasController($scope) {
         //    var ZINDEX = 9999;


         //    $scope.datas = [{
         //         index: 1,
         //         visibility: true,
         //         name: "1",
         //         zIndex: 9999,
         //         children: [{
         //             visibility: true,
         //             name: "11",
         //             width: 100,
         //             height: 100,
         //             left: 100,
         //             top: 100,
         //             zIndex: 9999
         //         }, {
         //             visibility: true,
         //             name: "12",
         //             width: 100,
         //             height: 100,
         //             left: 100,
         //             top: 100,
         //             zIndex: 9998
         //         }]
         //     }, {
         //         index: 2,
         //         visibility: true,
         //         name: "2",
         //         zIndex: 9998,
         //         children: [{
         //             visibility: true,
         //             name: "21",
         //             width: 100,
         //             height: 100,
         //             left: 100,
         //             top: 100,
         //             zIndex: 9998
         //         }]
         //     }];


         //    $scope.hello = function() {
         //        $scope.datas[0].children.push({ visibility: true, zIndex: ZINDEX - $scope.datas[0].children.length });
         //        console.log($scope.datas[0].children);
         //        return $scope.datas;
         //    }

             
         // }


        
    </script>


    <script src="//www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>
</body>
</html>